body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background: black;
}

hr {
    background: linear-gradient(to right, white, red);
    height: .5px;
    width: 80%;
    /* background: white; */
}

th a:link, th a:visited, th a:hover, th a:active {
    color: #ffffff;
}

.jumbotron {
    background: #333;
    color: #00a2ff;
    text-shadow: -.5px 0 white, 0 .5px white, .5px 0 white, 0 -.5px white;
    border: 4px solid white;
    text-align: center;
}

.lead, p {
    color: white;
}

label {
    color: white;
}

.content2 {
    background: #333;
    padding: 20px 10px;
    border-radius: 4px;
    border: 4px solid white;
}

#submit {
    margin-bottom: -10px;
}

#convertedtemp {
    background-color: rgb(238, 151, 151);
    border: 1px solid black;
    font-weight: bold;
}

th {
    background: white;
    color: black;
    border-bottom: 2px solid red;
}

.info th {
    font-size: 32px;
    text-align: center;
}





