/* style.css */

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0;
    width: 960px;
    margin: 0 auto;
}

form {
    margin-bottom: 10px;
    border: 2px solid black;
    padding: 15px;
}

#form1 label {
    float: left;
    width: 150px;
}

#form2 label {
    float: left;
    width: 200px;
}

#form3 label {
    float: left;
    width: 175px;
}

h1, footer {
    text-align: center;
}

input[type="submit"] {
    width: 90px;
}
