/* CSS for template.html */
body {
	font-family:Tahoma,sans-serif;
	font-size:1em;
	background-color:#fff;
	color:#000;
	margin:0 auto;
	padding:0;
	width:900px;
	background-color:#fff2cc;
}

nav, #nav {
	padding:10px 0;
}

nav a:link,#nav a:link {
	text-decoration:none;
	color:#d3c69e;
	padding:5px 10px;
	border-radius:4px;
}

nav a:visited,#nav a:visited {
	text-decoration:none;
	color:#d3c69e;
}

nav a:hover,#nav a:hover {
	text-decoration:none;
	background-color:#d3c69e;
	color:#fff;
}

nav a:active,#nav a:active {
	text-decoration:none;
	color:#333;
}

nav ul,#nav ul {
	margin-top:10px;
	margin-right:0;
	margin-left:10px;
	padding:0;
}

nav li,#nav li {
	list-style:none;
	margin-bottom:15px;
	margin-right:10px;
	padding:10px;
	font-weight:700;
	border-top:2px solid #7c7664;
	background-color:#7c7664;
	border-radius:5px;
	box-shadow:2px 2px 2px #FFF2CC;
}

#pagewrapper {
	margin-top:20px;
	padding:0;
}

#header_bg {
	background-image:url(header_bg.png);
	background-repeat:no-repeat;
	height:120px;
	padding:0;
	margin:0;
	border-top-right-radius:10px;
	border-top-left-radius:10px;
	border-bottom-right-radius:10px;
}

#sidebar {
	width:240px;
	float:left;
	background-color:#d3c69e;
	min-height:700px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}

#sidebarinner {
	margin-top:40px;
	margin-left:10px;
	margin-right:10px;
	background-color:#fff2cc;
	padding:10px;
	border-radius:10px;
	box-shadow:5px 5px 5px #7C7664;
}

#sidebarinner h3 {
	color:#605535;
}

#content {
	float:right;
	width:620px;
	padding:20px;
/* background-color:#fafafa;*/
	min-height:810px;
	border-bottom-right-radius:10px;
	border-bottom-left-radius:10px;
}

#content h2 {
	color:#605535;
}

footer,#footer {
	color:#605535;
	clear:both;
	font-size:12px;
	text-align:right;
}

footer ul,#footer ul {
	padding:0;
}

footer li,#footer li {
	list-style:none;
	display:inline;
	margin:0;
	padding:10px 5px;
	color:#605535;
}

footer a:link,#footer a:link {
	text-decoration:none;
	color:#605535;
}

footer a:visited,#footer a:visited {
	text-decoration:none;
	color:#605535;
}

footer a:hover,#footer a:hover {
	text-decoration:none;
	background-color:#d3c69e;
	color:#605535;
}

footer a:active,#footer a:active {
	text-decoration:none;
	color:#605535;
}

#innerfooter {
	padding-top:10px;
}

#hero {
	background-color:#fff;
	padding:10px;
	border-radius:6px;
	border:5px solid #7c7664;
	box-shadow:5px 5px 5px #7C7664;
}

.productlist {
	list-style-type:upper-roman;
}

.lists {
	margin-bottom:60px;
	list-style-type:square;
}

.productpic {
	margin:10px;
	float:right;
	box-shadow:3px 3px 3px #333;
}

label {
	width:150px;
	display:inline-block;
}

legend {
	background-color:#7C7664;
	padding:5px;
	border-radius:4px;
	color:#fff;
}

fieldset {
	border:1px solid #ccc;
	padding:20px;
	border-radius:4px;
}

.buttons {
	background-color:#D3C69E;
	color:#333;
	padding:8px;
	font-weight:700;
	border:none;
	border-radius:4px;
}

.buttons:hover {
	background-color:#7C7664;
	color:#fff;
}

#abouthero {float:right;
	        width:180px;
	        border:1px solid #7C7664;
	        padding:20px;
	        margin-left:30px;
	        border-radius: 4px;
}

.headshot {padding:10px;
	       background-color:#d3c69e;
	       border: 1px solid #D3C69E;
	       border-radius: 4px;
}